# http://pylint.pycqa.org/en/latest/technical_reference/features.html
[MASTER]
ignore=CVS .git .hg

[MESSAGES CONTROL]
# Pointless whinging.
#   W0613 = Unused argument
#   R0201 = Method could be a function
#   R0801 = Similar lines https://github.com/PyCQA/pylint/issues/214
#   R0903 = Too few public methods
#   R0904 = Too many public methods
#   R0911 = Too many return statements
#   R0913 = Too many arguments
#   R0914 = Too many local variables
#
# Sometimes disabled depending on how bad a module is.
#   C0111 = Missing docstring
#   C0112 = Empty docstring

disable=C0111,C0112,W0613,R0201,R0801,R0903,R0904,R0911,R0913,R0914

[MISCELLANEOUS]
# List of note tags to take into consideration, separated by a comma.
notes=FIXME

[FORMAT]
max-line-length=120

[REPORTS]
output-format=colorized

[BASIC]
good-names=a,b,i,j,k,m,n,o,t,v,x,fo,_,logger